sudo: required
dist: trusty
language: ruby

before_install:
before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install pillow
- sudo pip install cssutils
- sudo pip install docutils
- sudo pip install roman
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
branches:
  only:
  - master
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: YojNCyc1YNXdIjZJ/6u1sLmgNGDtO7O4bwlaD8vDFfbhk1JebiTbK/Te/i+c4k3Mr/hgYbxDYUonEDOpn/fKnUYgOjAWsIfdDUZzv4FTf5fWp84UgtPpNYBg/8tXBz2iTiuQY8D5ZeKoNG4RYlUuQT2ED5SSUf6RZlin0db9r9pmkJ1pqnQuU0Gf8+dA2K9SrUVtZiPuzEbzUT1sVltxq0UdzVOVsjhfwxNUGKyLdY1fKBPHMJwtim1I2VaJNLSIBaoQ9wsxS/4ggXohwXZgtjEEt6NxRgwjGf8rOXiyU9zGKzQEcmfbjdGkqOat/G8hEIuvqRo/D2ba78L/ztZjFkrgGsXehINV6j2Z7/eFylrwBOAFzA6DUf0RevUd/BGI+AvWTIxYI4q2npLsadBfpW51CexoG7n9dEJEbC+L+iU50yU4JiiKb/DVlpnBKhAoV9hYgHucgcgbSrVC4JfyX5a65c6xuy+hqEePtXphZ39yluL25t4Lw448jjr4JpzhBoubqvcc28VSUE3GPJWq0KwRNsXjZnPrW15t8J+Px4FVmo5p9vLYMosDkPzOdCGierrfbd7MTwkinpAVaS4dgeZrs4vsr46GUR2dOBqCY9a3iodDztoQ2/leKwPssMuZNW75WKHJ+Qynk0UVn/J70YoP3xRNSPofeQ92SKRgvbA=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  "on":
    repo: GITenberg/Egypt--La-Mort-de-Philae-_3685
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy